*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: aquamarine;
}

.column{
    width: 70px;
    height: 70px;
    border: 1px solid black;
    background-color: rgb(8, 119, 188);
}