*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: aquamarine;
}

.column{
    font-size: 25px;
    transform: scale(0.9);
    width: 120px;
    height: 120px;
    border: 1px solid black;
}

.bg-color{
    background-color: rgb(8, 119, 188);
}

.inactive{
    display: none;
}